In [91]:
import pandas as pd

In [92]:
# Reading the dataframes
df_Content = pd.read_csv("Content.csv")
df_Reactions = pd.read_csv("Reactions.csv")
df_ReactionsTypes = pd.read_csv("ReactionTypes.csv")

# Exploring the data

In [93]:
df_Content.sample(5)
# df_Content.dtypes

,Unnamed: 0,Content ID,User ID,Type,Category,URL
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
191,191,bac28166-5b8d-4f5d-88da-8c8f9a1c3f5b,f9ecf6a2-8402-43b3-bf22-8cd54394ea02,video,food,https://socialbuzz.cdn.com/content/storage/bac...
942,942,d347afb6-c092-4301-ba7d-4c59d10142cb,8d67b1c4-cd76-4701-a908-738e7a2411e7,photo,tennis,https://socialbuzz.cdn.com/content/storage/d34...
484,484,2e84726a-e69f-44e8-ac0f-c4a31516e342,19fa2bc2-96ab-45b6-99de-1995c2bee330,video,dogs,https://socialbuzz.cdn.com/content/storage/2e8...
15,15,7ffd0a82-4a0a-4527-a4d6-e251b756bac7,425b7021-0409-4358-af39-2bff14197d0a,GIF,fitness,NaN

In [94]:
df_Reactions.sample(5)
df_Reactions.dtypes

Unnamed: 0     int64
Content ID    object
User ID       object
Type          object
Datetime      object
dtype: object

In [107]:
df_ReactionsTypes.sample(5)
# df_ReactionsTypes.dtypes

    Unnamed: 0     Type Sentiment  Score
2            2  disgust  negative      0
11          11  dislike  negative     10
14          14   scared  negative     15
1            1     want  positive     70
13          13  peeking   neutral     35

# Cheking the missing values

In [96]:
df_Content.isna().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [97]:
df_Reactions.isna().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [98]:
df_ReactionsTypes.isna().sum()

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

In [99]:
#Removing rows that have values which are missing
df_Content_cleaned=df_Content.dropna()
df_Reactions_cleaned=df_Reactions.dropna()
df_ReactionsTypes_cleaned=df_ReactionsTypes.dropna()

# Duplicate values

In [100]:
#Checking the duplicate values
df_Content_cleaned.duplicated().sum()
df_ReactionsTypes_cleaned.duplicated().sum()
df_ReactionsTypes_cleaned.duplicated().sum()

0

In [101]:
# Iterate over each column in the DataFrame
for column in df_Content_cleaned.columns:
    # Check if the column contains string values
    if df_Content_cleaned[column].dtype == 'O':  # 'O' represents object (strings)
        # Replace double quotes in the column
        df_Content_cleaned[column] = df_Content_cleaned[column].str.replace('"', '')

/var/folders/xq/xdbqztz92zs24q39hvzwj65m0000gn/T/ipykernel_17459/3483506809.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Content_cleaned[column] = df_Content_cleaned[column].str.replace('"', '')

In [104]:
# Iterate over each column in the DataFrame
for column in df_ReactionsTypes_cleaned.columns:
    # Check if the column contains string values
    if df_ReactionsTypes_cleaned[column].dtype == 'O':  # 'O' represents object (strings)
        # Replace double quotes in the column
        df_ReactionsTypes_cleaned[column] = df_ReactionsTypes[column].str.replace('"', '')

In [106]:
df_ReactionsTypes_cleaned.duplicated().sum()

0

# Changing the data type of some values within a column, and removing columns which are not relevant to this task.

In [84]:
#Removing columns
df_Content_final=df_Content_cleaned[["Content ID","Type","Category","URL"]]
df_Reactions_final=df_Reactions_cleaned[["Content ID" ,"Type","Datetime"]]
df_ReactionsTypes_final=df_ReactionsTypes_cleaned[["Type","Sentiment","Score"]]

In [76]:
#Checking the dtypes
df_Content_final.dtypes
df_Reactions_final.dtypes
df_ReactionsTypes_final.dtypes

Type         object
Sentiment    object
Score         int64
dtype: object

In [78]:
df_Reactions_final.dtypes

Type        object
Datetime    object
dtype: object

In [80]:
# Create a copy of the DataFrame
df_Reactions_final_copy = df_Reactions_final.copy()
# Modify the copy
df_Reactions_final_copy['Datetime'] = pd.to_datetime(df_Reactions_final_copy['Datetime'])

In [81]:
df_Reactions_final_copy.dtypes

Type                object
Datetime    datetime64[ns]
dtype: object